*.py[oc]
*.swp
build
dist
*.egg-info
*test.db
.coverage
.idea/
.project
.pydevproject
.settings
*.pyc
*.pyo
*.swp
*.zip
.DS_Store
.vagrant
django.wsgi
.idea/
upload/*
stats_crawler/node_modules/*
.project
.pydev_project
.pydevproject
.ropeproject
celerybeat-schedule
lib
lib64
bin
develop-eggs
downloads
include
local
share
assets/vendors/*
assets/build/*
node_modules/*
npm-debug.log
.sass-cache/
*.mo
static/*
personal_settings.py
local_settings.py
ngrok
locale/
docs/_*
vagrant-conf/*
